//COLOR PALETTE
$backgroundColor:rgba(0,0,0,.9);
$highOpacity: rgba(255,255,255,1);
$medOpacity: rgba(255,255,255,.8);
$lightOpacity: rgba(255,255,255,.7);
$lighterOpacity: rgba(255,255,255,.1);
$lightestOpacity: rgba(255,255,255,.05);
$lighterthanlightestOpacity: rgba(255,255,255,.08);
$lighterevenstillOpacity: rgba(255,255,255,.05);