//COLOR PALETTE
$backgroundColor:rgba(255,255,255,.95);
$highOpacity: rgba(0,0,0,.9);
$medOpacity: rgba(0,0,0,.7);
$lightOpacity: rgba(0,0,0,.6);
$lighterOpacity: rgba(0,0,0,.1);
$lightestOpacity: rgba(0,0,0,.05);
$lighterthanlightestOpacity: rgba(0,0,0,.04);
$lighterevenstillOpacity: rgba(0,0,0,.02);